@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
/*@font-face {
  font-family: "robotoblack";
  src: url("roboto-black-webfont.woff2") format("woff2"),
    url("roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}*/
.container {
  /* overflow-x: hidden; */
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  max-height: 6747px;
  background-color: rgb(255, 255, 255);
}
.block0 {
  position: relative;
  height: 61px;
  left: 0%;
  right: 0%;
  top: 0px;
}
.block1 {
  position: absolute;
  height: 61px;
  left: 0%;
  right: 0%;
  top: 0px;
}
.block2 {
  position: relative;
  height: 44px;
  left: 87.45%;
  right: 1.67%;
  top: 8.5px;
  height: 44px;
  width: 156.734375px;
  left: 1259.25px;
  border-radius: 0px;
}
.block2_0 {
  position: absolute;
  height: 44px;
  left: -0.16%;
  right: 15.3%;
  top: 0.5px;
}
 .text0 {
  flex: 1;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  height: 18px;
  left: 18.8%;
  right: 18.8%;
  top: 13px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #011f3a;
   text-decoration: none; 
} 
.img {
  position: absolute;
  height: 24px;
  left: 84.7%;
  right: -0.01%;
  top: 10.5px;

  border-radius: 0px;
}
.block3 {
  height: 44px;
  width: 706.90625px;
  left: 330.671875px;
  top: 8.5px;
  border-radius: 0px;
  position: absolute;
  height: 44px;
  left: 22.96%;
  right: 27.95%;
  top: 8.5px;
}
.block3_0 {
  position: absolute;
  height: 44px;
  left: 59.18%;
  right: 18.47%;
  top: 0.5px;
}
.text1 {
  position: absolute;
  height: 18px;
  left: 15.82%;
  right: 15.82%;
  top: 13px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #011f3a;
}
.block3_1 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0px;

  border-radius: 44px;
}
.block4 {
  position: absolute;
  height: 44px;
  left: 0.05%;
  right: 65.3%;
  top: 0.5px;
  width: 245px;
  border-radius: 0px;
}
.block4_0 {
  position: absolute;
  height: 18px;
  left: 22.04%;
  right: 8.16%;
  top: 13px;
  border-bottom: 1px solid black;
}
.text2 {
  position: absolute;
  height: 18px;
  left: 0%;
  right: 0.58%;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 1.96px;
  text-transform: uppercase;

  /* color: #011f3a;
  text-decoration-line: underline;
  text-decoration-color: #011f3a; */
}
.block4_1 {
  position: absolute;
  height: 16px;
  left: 10.2%;
  right: 83.27%;
  top: 14px;

  border-radius: 0px;
}
.svg {
  position: absolute;
  left: 2.94%;
  right: 2.94%;
  top: 5.56%;
  bottom: 5.56%;
}
.block5 {
  position: absolute;
  height: 44px;
  left: 81.53%;
  right: -0.06%;
  top: 0.5px;
}
.block5_0 {
  position: absolute;
  height: 16px;
  left: 68.7%;
  right: 19.08%;
  top: 14px;

  border-radius: 0px;
}
.block5_0_1 {
  position: absolute;
  left: 14.64%;
  right: 14.64%;
  top: 35.36%;
  bottom: 29.29%;

  opacity: 0.3;
}
.svg1 {
  position: absolute;
  left: 14.64%;
  right: 14.64%;
  top: 35.36%;
  bottom: 29.29%;

  opacity: 0.3;
}
.block5_1 {
  position: absolute;
  height: 18px;
  left: 19.08%;
  right: 37.4%;
  top: 13px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 1.96px;
  text-transform: uppercase;

  color: #011f3a;
}
.block5_2 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0px;

  border-radius: 44px;
}
.block6 {
  position: absolute;
  height: 44px;
  left: 34.7%;
  right: 40.68%;
  top: 0.5px;
}
.block6_0 {
  position: absolute;
  height: 18px;
  left: 14.37%;
  right: 14.37%;
  top: 13px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 1.96px;
  text-transform: uppercase;

  color: #011f3a;
}
.block6_1 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0px;
  border-radius: 44px;
}
.img1 {
  position: absolute;
  width: 85px;
  height: 24px;
  left: 1.67%;
  right: 92.43%;
  top: 19px;
  border-radius: 0px;
}
.block1_0 {
  position: absolute;
  height: 61px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
  border-radius: 0px;
}
.block0_1 {
  position: absolute;
  height: 750px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #f2ae4d;
  border-radius: 0px;
}
.block0_2 {
  width: 1440px;
  position: absolute;
  height: 750px;
  left: 0%;
  right: 0%;
  top: 0px;
}
.img2 {
  position: absolute;
  height: 504px;
  left: 936px;
  left: 65%;
  right: 0%;
  top: 148px;
  width: 504px;
  border-radius: 0px;
}
.block0_3 {
  position: absolute;
  height: 339px;
  left: 8.33%;
  right: 56.94%;
  top: 205.5px;
}
.text3 {
  position: absolute;
  height: 168px;
  left: 0%;
  right: 4%;
  top: 20.5px;

  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 48px;
  line-height: 56px;

  color: #011f3a;
}
.text4 {
  position: absolute;
  height: 48px;
  left: 0%;
  right: 44.6%;
  top: 221.5px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #011f3a;
}
.block0_4 {
  position: absolute;
  height: 56px;
  left: 0%;
  right: 54.4%;
  top: 283.5px;
  font-family: "Roboto", sans-serif;
  background: #3d5675;
  border-radius: 44px;
  border: 1px solid #3d5675;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  cursor: pointer;
}
.block0_4:hover {
  background-color: #ffffff;
  color: #3d5675;
}

.block7 {
  position: absolute;
  height: 120px;
  left: 0%;
  right: 0%;
  top: 750px;
}
.block7_1 {
  position: absolute;
  height: 80px;
  left: 77.22%;
  right: 8.33%;
  top: 20px;
}
.block7_1_0 {
  position: absolute;
  height: 38px;
  left: 67.79%;
  right: 0%;
  top: 21px;
}
.block7_1_0_1 {
  position: absolute;
  height: 38px;
  left: 0%;
  right: 0%;
  top: 0px;
  border-radius: 3.75px;
}
.text6 {
  position: absolute;
  height: 38px;
  left: 0%;
  right: 10.45%;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* or 127% */
  letter-spacing: 0.6px;
  color: #a1a1a1;
  white-space: pre;
}
.block7_1_1 {
  position: absolute;
  height: 80px;
  left: 0%;
  right: 39.9%;
  top: 0px;

  border-radius: 0px;
}
.block7_2 {
  position: absolute;
  height: 80px;
  left: 45.45%;
  right: 42.6%;
  top: 20px;
}
.block7_2_2 {
  position: absolute;
  height: 38px;
  left: 56.1%;
  right: -0.29%;
  top: 21px;
}
.text7 {
  position: absolute;
  height: 38px;
  left: 0%;
  right: 11.84%;
  top: 0px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* or 127% */

  letter-spacing: 0.6px;

  color: #a1a1a1;
}
.block7_2_1 {
  position: absolute;
  height: 38px;
  left: 0%;
  right: 0%;
  top: 0px;

  border-radius: 3.75px;
}
.block7_2_3 {
  position: absolute;
  height: 80px;
  left: 0.29%;
  right: 53.2%;
  top: 0px;

  border-radius: 0px;
}
.block7_3 {
  position: absolute;
  height: 80px;
  left: 8.33%;
  right: 74.38%;
  top: 20px;
}
.block7_3_0 {
  position: absolute;
  height: 38px;
  left: 63.45%;
  right: 0%;
  top: 21px;
}
.block7_3_1 {
  position: absolute;
  height: 38px;
  left: 0%;
  right: 0%;
  top: 0px;

  border-radius: 3.75px;
}
.block7_3_2 {
  position: absolute;
  height: 38px;
  left: 0%;
  right: 10.99%;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* or 127% */

  letter-spacing: 0.6px;

  color: #a1a1a1;
}
.block7_3_3 {
  position: absolute;
  height: 80px;
  left: 0%;
  right: 42.97%;
  top: 0px;

  border-radius: 0px;
}
.block8 {
  position: absolute;
  height: 1162px;
  left: 0%;
  right: 0%;
  top: 870px;
}
.fon {
  position: absolute;
  height: 1162px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #eeeeee;
  border-radius: 0px;
}
.block8_0 {
  position: absolute;
  height: 44px;
  left: 36.61%;
  right: 36.61%;
  top: 1068.31px;
}
.text8 {
  position: absolute;
  height: 24px;
  left: -0.05%;
  right: 45.07%;
  top: 9.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  color: #a1a1a1;
}
.block8_1 {
  position: absolute;
  height: 44px;
  left: 59.08%;
  right: -0.05%;
  top: -0.31px;
  border: 1px solid #ffffff;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  border-radius: 44px;
  cursor: pointer;
  color: #3d5675;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block8_1:hover {
  background-color: #517096;
  color: #ffffff;
}

.block8_2 {
  position: absolute;
  height: 864.31px;
  left: 8.33%;
  right: 8.33%;
  top: 158px;
}
.block8_2_0 {
  position: absolute;
  height: 432px;
  left: 0%;
  right: 66.67%;
  top: 432px;
}
.block8_2_1 {
  box-sizing: border-box;

  position: absolute;
  height: 432px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 0px;
}
.text10 {
  position: absolute;
  height: 21px;
  left: 6.25%;
  right: 65%;
  top: 327px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.block8_2_2 {
  position: absolute;
  height: 52px;
  left: 6.25%;
  right: 6.35%;
  top: 350.31px;
}
.img3 {
  position: absolute;
  height: 302px;
  left: 0.25%;
  right: 0.25%;
  top: 1px;

  border-radius: 0px;
}
.text11 {
  position: absolute;
  height: 24px;
  left: 77.23%;
  right: -0.12%;
  top: 3.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: right;

  color: #a1a1a1;
}
.text12 {
  position: absolute;
  height: 24px;
  left: 79.81%;
  right: -0.12%;
  top: 27.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 185% */

  text-align: right;

  color: #a1a1a1;
}
.text13 {
  position: absolute;
  height: 72px;
  left: 0%;
  right: 43.65%;
  top: 5.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #777777;
}
.block8_3_0 {
  position: absolute;
  height: 432px;
  left: 66.58%;
  right: 0.08%;
  top: 432px;
}
.block8_3_1 {
  box-sizing: border-box;

  position: absolute;
  height: 432px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 0px;
}
.text14 {
  position: absolute;
  height: 21px;
  left: 6.25%;
  right: 48.25%;
  top: 327px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.block8_3_2 {
  position: absolute;
  height: 52px;
  left: 6.3%;
  right: 6.3%;
  top: 350.31px;
}
.text15 {
  position: absolute;
  height: 24px;
  left: 77.18%;
  right: -0.06%;
  top: 3.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: right;

  color: #a1a1a1;
}
.text16 {
  position: absolute;
  height: 24px;
  left: 79.47%;
  right: -0.06%;
  top: 27.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: right;

  color: #a1a1a1;
}
.text17 {
  position: absolute;
  height: 48px;
  left: -0.05%;
  right: 51.71%;
  top: 5.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #777777;
}
.img4 {
  position: absolute;
  height: 302px;
  left: 0.25%;
  right: 0.25%;
  top: 1px;

  border-radius: 0px;
}
.block8_4_0 {
  position: absolute;
  height: 432px;
  left: 33.33%;
  right: 33.33%;
  top: 0px;
}
.block8_4_1 {
  box-sizing: border-box;

  position: absolute;
  height: 432px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 0px;
}
.text18 {
  position: absolute;
  height: 21px;
  left: 6.25%;
  right: 63%;
  top: 327px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.text19 {
  position: absolute;
  height: 48px;
  left: 6.25%;
  right: 45.75%;
  top: 356px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #777777;
}
.img5 {
  position: absolute;
  height: 302px;
  left: 0.25%;
  right: 0.25%;
  top: 1px;

  border-radius: 0px;
}
.block8_5_0 {
  position: absolute;
  height: 432px;
  left: 33.33%;
  right: 33.33%;
  top: 432px;
}
.block8_5_1 {
  box-sizing: border-box;

  position: absolute;
  height: 432px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 0px;
}
.text20 {
  position: absolute;
  height: 21px;
  left: 6.25%;
  right: 58.25%;
  top: 327px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.block8_5_2 {
  position: absolute;
  height: 52px;
  left: 6.15%;
  right: 6.45%;
  top: 350.31px;
}
.text21 {
  position: absolute;
  height: 24px;
  left: 77.06%;
  right: 0.05%;
  top: 3.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: right;

  color: #a1a1a1;
}
.text22 {
  position: absolute;
  height: 24px;
  left: 79.35%;
  right: 0.05%;
  top: 27.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: right;

  color: #a1a1a1;
}
.text23 {
  position: absolute;
  height: 72px;
  left: 0.12%;
  right: 52.4%;
  top: 5.69px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #777777;
}
.img6 {
  position: absolute;
  height: 302px;
  left: 0.25%;
  right: 0.25%;
  top: 1px;

  border-radius: 0px;
}
.block8_6_0 {
  position: absolute;
  height: 432px;
  left: 66.58%;
  right: 0.08%;
  top: 0px;
}
.block8_6_1 {
  box-sizing: border-box;

  position: absolute;
  height: 432px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 0px;
}
.text24 {
  position: absolute;
  height: 21px;
  left: 6.25%;
  right: 49%;
  top: 327px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.text25 {
  position: absolute;
  height: 48px;
  left: 6.25%;
  right: 40%;
  top: 356px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #777777;
}
.img7 {
  position: absolute;
  height: 302px;
  left: 0.25%;
  right: 0.25%;
  top: 1px;

  border-radius: 0px;
}
.block8_7_0 {
  position: absolute;
  height: 432px;
  left: 0%;
  right: 66.67%;
  top: 0px;
}
.block8_7_1 {
  box-sizing: border-box;

  position: absolute;
  height: 432px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 0px;
}
.text26 {
  position: absolute;
  height: 21px;
  left: 6.25%;
  right: 46%;
  top: 327px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.block8_7_2 {
  position: absolute;
  height: 52px;
  left: 6.25%;
  right: 6.35%;
  top: 350.16px;
}
.text27 {
  position: absolute;
  height: 24px;
  left: 77.23%;
  right: -0.12%;
  top: 3.84px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: right;

  color: #a1a1a1;
}
.text28 {
  position: absolute;
  height: 24px;
  left: 76.95%;
  right: -0.12%;
  top: 27.84px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: right;

  color: #a1a1a1;
}
.text29 {
  position: absolute;
  height: 72px;
  left: 0%;
  right: 40.22%;
  top: 5.84px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #777777;
}
.img8 {
  position: absolute;
  height: 302px;
  left: 0.25%;
  right: 0.25%;
  top: 1px;

  border-radius: 0px;
}
.block8_8_0 {
  position: absolute;
  height: 44px;
  left: 8.33%;
  right: 8.33%;
  top: 57px;
}
.text30 {
  position: absolute;
  height: 38px;
  left: 0%;
  right: 65.42%;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  color: #011f3a;
}
.block8_8_1 {
  position: absolute;
  height: 44px;
  left: 79.42%;
  right: 0%;
  top: 0px;
  font-family: "Roboto", sans-serif;
  background: #3d5675;
  border-radius: 44px;
  border: 1px solid #3d5675;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block8_8_1:hover {
  background-color: #ffffff;
  color: #3d5675;
}
.block9 {
  position: absolute;
  height: 914px;
  left: 0%;
  right: 0%;
  top: 2032px;
}
.block9_0 {
  position: absolute;
  height: 914px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #eeeeee;
  border-radius: 0px;
}
.block9_1 {
  position: absolute;
  height: 774px;
  left: 8.33%;
  right: 8.33%;
  top: 70px;
}
.block9_1_0 {
  position: absolute;
  height: 774px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #72bda3;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0px;
}
.text32 {
  position: absolute;
  height: 41px;
  left: 17.92%;
  right: 17.92%;
  top: 88px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height, or 128% */

  text-align: center;

  color: #011f3a;
}
.block9_1_1 {
  position: absolute;
  height: 44px;
  left: 40.83%;
  right: 40.83%;
  top: 642px;
  border: 1px solid #3d5675;
  font-family: "Roboto", sans-serif;
  background: #3d5675;
  border-radius: 44px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block9_1_1:hover {
  background-color: #ffffff;
  color: #517096;
}
.block9_1_2 {
  position: absolute;
  height: 391px;
  left: 0%;
  right: 0%;
  top: 175.31px;
}

.block9_3 {
  position: absolute;
  height: 391px;
  left: 70.83%;
  right: 4.17%;
  top: 0px;
}
.block9_4 {
  position: absolute;
  height: 391px;
  left: 4.17%;
  right: 70.83%;
  top: 0px;
}
.block9_5 {
  position: absolute;
  height: 391px;
  left: 37.5%;
  right: 37.5%;
  top: 0px;
}
.img9 {
  position: absolute;
  height: 300px;
  left: 0%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.block9_3_0 {
  position: absolute;
  height: 91px;
  left: 16.67%;
  right: 16.67%;
  top: 300px;
}
.text34 {
  position: absolute;
  height: 48px;
  left: 1%;
  right: 1%;
  top: 44.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-align: center;

  color: #3d5675;
}
.text35 {
  position: absolute;
  height: 23px;
  left: 17.5%;
  right: 17.5%;
  top: 11.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  text-align: center;
  letter-spacing: 0.36px;

  color: #011f3a;
}
.img10 {
  position: absolute;
  height: 300px;
  left: 0%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.block9_4_0 {
  position: absolute;
  height: 91px;
  left: 16.67%;
  right: 16.67%;
  top: 300px;
}
.text36 {
  position: absolute;
  height: 48px;
  left: 1%;
  right: 0.5%;
  top: 44.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-align: center;

  color: #3d5675;
}
.text37 {
  position: absolute;
  height: 23px;
  left: 28%;
  right: 28%;
  top: 11.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  text-align: center;
  letter-spacing: 0.36px;

  color: #011f3a;
}
.img11 {
  position: absolute;
  height: 300px;
  left: 0%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.block9_5_0 {
  position: absolute;
  height: 91px;
  left: 16.67%;
  right: 16.67%;
  top: 300px;
}
.text38 {
  position: absolute;
  height: 48px;
  left: 12%;
  right: 12%;
  top: 44.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-align: center;

  color: #3d5675;
}
.text39 {
  position: absolute;
  height: 23px;
  left: 31%;
  right: 30.5%;
  top: 11.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  text-align: center;
  letter-spacing: 0.36px;

  color: #011f3a;
}
.block10 {
  position: absolute;
  height: 766px;
  left: 0%;
  right: 0%;
  top: 2946px;
}
.block10_0 {
  position: absolute;
  height: 766px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #eeeeee;
  border-radius: 0px;
}
.block10_1 {
  position: absolute;
  height: 624px;
  left: 8.33%;
  right: 8.33%;
  top: 0.31px;
}
.text40 {
  position: absolute;
  height: 41px;
  left: 3.5%;
  right: 71.17%;
  top: 87.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height, or 128% */

  color: #011f3a;
}
.block10_2 {
  position: absolute;
  height: 413px;
  left: 3.5%;
  right: 3.5%;
  top: 211px;
}
.block10_2_0 {
  position: absolute;
  height: 413px;
  left: 38.62%;
  right: 38.62%;
  top: 0px;
}
.block10_2_1 {
  position: absolute;
  height: 413px;
  left: 77.24%;
  right: 0%;
  top: 0px;
}
.block10_2_2 {
  position: absolute;
  height: 413px;
  left: 0%;
  right: 77.24%;
  top: 0px;
}
.img12 {
  position: absolute;
  height: 254px;
  left: 0%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.block10_2_3 {
  position: absolute;
  height: 159px;
  left: 0%;
  right: 0%;
  top: 254px;
}
.text41 {
  position: absolute;
  height: 72px;
  left: 0%;
  right: 7.87%;
  top: 88.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #a1a1a1;
}
.text42 {
  position: absolute;
  height: 23px;
  left: 0%;
  right: 40.55%;
  top: 53.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.img13 {
  position: absolute;
  height: 254px;
  left: 0%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.block10_2_4 {
  position: absolute;
  height: 159px;
  left: 0%;
  right: 0%;
  top: 254px;
}
.text43 {
  position: absolute;
  height: 72px;
  left: 0%;
  right: 1.18%;
  top: 88.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #a1a1a1;
}
.text44 {
  position: absolute;
  height: 23px;
  left: 0%;
  right: 70.08%;
  top: 53.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.img14 {
  position: absolute;
  height: 254px;
  left: 0%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.block10_2_5 {
  position: absolute;
  height: 159px;
  left: 0%;
  right: 0%;
  top: 254px;
}
.text45 {
  position: absolute;
  height: 72px;
  left: 0%;
  right: 3.15%;
  top: 88.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #a1a1a1;
}
.text46 {
  position: absolute;
  height: 23px;
  left: 0%;
  right: 25.59%;
  top: 53.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.block11 {
  position: absolute;
  height: 730px;
  left: 0%;
  right: 0%;
  top: 3712px;
}
.block11_0 {
  position: absolute;
  height: 730px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #eeeeee;
  border-radius: 0px;
}
.block11_1 {
  position: absolute;
  height: 610px;
  left: 8.33%;
  right: 8.33%;
  top: 60px;
}
.block11_2 {
  position: absolute;
  height: 610px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffca3a;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0px;
}
.block11_3 {
  position: absolute;
  height: 410px;
  left: 49.92%;
  right: 50%;
  top: 110.31px;

  background: rgba(161, 161, 161, 0.4);
}
.block11_4 {
  position: absolute;
  height: 410px;
  left: 50%;
  right: 49.92%;
  top: 110.31px;

  background: rgba(161, 161, 161, 0.4);
}
.block11_5 {
  position: absolute;
  height: 410px;
  left: 50%;
  right: 0%;
  top: 110px;
}
.block11_6 {
  position: absolute;
  height: 410px;
  left: 0%;
  right: 50%;
  top: 110px;
}
.block11_5_0 {
  position: absolute;
  height: 410px;
  left: 0%;
  right: 0%;
  top: 0px;

  border-radius: 0px;
}
.block11_5_1 {
  position: absolute;
  height: 410px;
  left: 20.08%;
  right: 19.92%;
  top: 0.31px;
}
.block11_5_2 {
  position: absolute;
  height: 44px;
  left: 22.64%;
  right: 22.92%;
  top: 365.69px;
  border: 1px solid #3d5675;
  font-family: "Roboto", sans-serif;
  background: #3d5675;
  border-radius: 44px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block11_5_2:hover {
  background-color: #ffffff;
  color: #3d5675;
}
.block11_5_2_0 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border-radius: 44px;
}
.text47 {
  position: absolute;
  height: 18px;
  left: 12.76%;
  right: 12.76%;
  top: 13px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 1.96px;
  text-transform: uppercase;

  color: #3d5675;
}
.img15 {
  position: absolute;
  height: 210px;
  left: 20.97%;
  right: 20.69%;
  top: -0.31px;

  border-radius: 0px;
}
.text48 {
  position: absolute;
  height: 36px;
  left: 3.19%;
  right: 2.92%;
  top: 233.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #011f3a;
}
.text49 {
  position: absolute;
  height: 72px;
  left: 0.69%;
  right: 0.42%;
  top: 283.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-align: center;

  color: #3d5675;
}
.block11_6_0 {
  position: absolute;
  height: 410px;
  left: 0%;
  right: 0%;
  top: 0px;

  border-radius: 0px;
}
.block11_6_1 {
  position: absolute;
  height: 386px;
  left: 19.92%;
  right: 20.08%;
  top: 0.31px;
}
.block11_6_2 {
  position: absolute;
  height: 44px;
  left: 21.53%;
  right: 21.81%;
  top: 341.69px;
  border: 1px solid #3d5675;
  font-family: "Roboto", sans-serif;
  background: #3d5675;
  border-radius: 44px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block11_6_2:hover {
  background-color: #ffffff;
  color: #3d5675;
}
.text51 {
  position: absolute;
  height: 48px;
  left: 7.08%;
  right: 6.81%;
  top: 283.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-align: center;

  color: #3d5675;
}
.text52 {
  position: absolute;
  height: 36px;
  left: 3.75%;
  right: 3.47%;
  top: 233.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #011f3a;
}
.img16 {
  position: absolute;
  height: 210px;
  left: 20.97%;
  right: 20.69%;
  top: -0.31px;

  border-radius: 0px;
}
.block12 {
  position: absolute;
  height: 1548px;
  left: 0%;
  right: 0%;
  top: 4442px;
}
.block12_0 {
  position: absolute;
  height: 1548px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #eeeeee;
  border-radius: 0px;
}
.text53 {
  position: absolute;
  height: 38px;
  left: 39.44%;
  right: 39.44%;
  top: 88px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;

  color: #011f3a;
}
.block12_1 {
  position: absolute;
  height: 1306px;
  left: 8.33%;
  right: 8.33%;
  top: 185px;
}
.block12_2 {
  position: absolute;
  height: 1306px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
  border-radius: 0px;
}
.block12_3 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 0%;
  top: 1012.31px;
}
.block12_4 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 0%;
  top: 663.31px;
}
.block12_5 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 0%;
  top: 314.31px;
}
.block12_6 {
  position: absolute;
  height: 314px;
  left: 0%;
  right: 0%;
  top: 0.31px;
}
.block12_3_0 {
  position: absolute;
  height: 169px;
  left: 57.83%;
  right: 8.83%;
  top: 62.5px;
}
.block12_3_1 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 51%;
  top: 0px;
}
.text54 {
  position: absolute;
  height: 96px;
  left: 0%;
  right: 4.75%;
  top: 1.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #011f3a;
}
.block12_3_2 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 0%;
  top: 109px;
}
.block12_3_3 {
  position: absolute;
  height: 44px;
  left: 60%;
  right: 0%;
  top: 8.19px;
  border: 1px solid #f2f2f2;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  border-radius: 44px;
  cursor: pointer;
  color: #3d5675;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block12_3_3:hover {
  background-color: #517096;
  color: #ffffff;
}
.block12_3_4 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 55.5%;
  top: 0px;
}
.block12_3_5 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #f2f2f2;
  border-radius: 44px;
}
.text55 {
  position: absolute;
  height: 18px;
  left: 15.62%;
  right: 15.62%;
  top: 13px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 1.96px;
  text-transform: uppercase;

  color: #3d5675;
}
.img17 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 66.29%;
  top: 0.19px;
}
.block12_3_6 {
  position: absolute;
  height: 60px;
  left: 44.94%;
  right: 0%;
  top: 0px;
}
.text56 {
  position: absolute;
  height: 24px;
  left: 0%;
  right: 0%;
  top: 31.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  color: #a1a1a1;
}
.text57 {
  position: absolute;
  height: 22px;
  left: 0%;
  right: 28.57%;
  top: 5.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #011f3a;
}
.img18 {
  position: absolute;
  height: 294px;
  left: 50%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.img19 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 50%;
  top: -0.31px;

  border-radius: 0px;
}
.block12_4_0 {
  position: absolute;
  height: 169px;
  left: 8.83%;
  right: 57.83%;
  top: 62.5px;
}
.block12_4_1 {
  position: absolute;
  height: 294px;
  left: 51%;
  right: 0%;
  top: 0px;
}
.text58 {
  position: absolute;
  height: 96px;
  left: 0%;
  right: 4%;
  top: 1.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #011f3a;
}
.block12_4_2 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 0%;
  top: 109px;
}
.block12_4_3 {
  position: absolute;
  height: 44px;
  left: 60%;
  right: 0%;
  top: 8.19px;
  border: 1px solid #f2f2f2;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  border-radius: 44px;
  cursor: pointer;
  color: #3d5675;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block12_4_3:hover {
  background-color: #517096;
  color: #ffffff;
}
.block12_4_4 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 57.5%;
  top: 0px;
}
.block12_4_6 {
  position: absolute;
  height: 60px;
  left: 47.06%;
  right: 0%;
  top: 0px;
}
.img20 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 64.71%;
  top: 0.19px;
}
.text60 {
  position: absolute;
  height: 24px;
  left: 0%;
  right: 0%;
  top: 31.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #a1a1a1;
}
.text61 {
  position: absolute;
  height: 22px;
  left: 0%;
  right: 47.78%;
  top: 5.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #011f3a;
}
.img21 {
  position: absolute;
  height: 294px;
  left: 50%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.img22 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 50%;
  top: -0.31px;

  border-radius: 0px;
}
.block12_5_0 {
  position: absolute;
  height: 169px;
  left: 57.83%;
  right: 8.83%;
  top: 62.5px;
}
.block12_5_1 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 51%;
  top: 0px;
}
.text62 {
  position: absolute;
  height: 96px;
  left: 0%;
  right: 1.25%;
  top: 1.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #011f3a;
}
.block12_5_2 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 0%;
  top: 109px;
}
.block12_5_3 {
  position: absolute;
  height: 44px;
  left: 60%;
  right: 0%;
  top: 8.19px;
  border: 1px solid #f2f2f2;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  border-radius: 44px;
  cursor: pointer;
  color: #3d5675;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block12_5_3:hover {
  background-color: #517096;
  color: #ffffff;
}
.block12_5_4 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 44.5%;
  top: 0px;
}
.block12_5_6 {
  position: absolute;
  height: 60px;
  left: 36.04%;
  right: 0%;
  top: 0px;
}
.img23 {
  position: absolute;
  height: 60px;
  left: 0%;
  right: 72.97%;
  top: 0.19px;
}
.text64 {
  position: absolute;
  height: 24px;
  left: 0%;
  right: 0%;
  top: 31.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  color: #a1a1a1;
}
.text65 {
  position: absolute;
  height: 22px;
  left: 0%;
  right: 69.01%;
  top: 5.19px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #011f3a;
}
.img24 {
  position: absolute;
  height: 294px;
  left: 50%;
  right: 0%;
  top: -0.31px;

  border-radius: 0px;
}
.img25 {
  position: absolute;
  height: 294px;
  left: 0%;
  right: 50%;
  top: -0.31px;

  border-radius: 0px;
}
.block12_6_0 {
  position: absolute;
  height: 70px;
  left: 48.33%;
  right: 51.58%;
  top: 121.69px;

  background: #eeeeee;
  border-radius: 0px;
}
.block12_6_1 {
  position: absolute;
  height: 114px;
  left: 63.57%;
  right: 15.91%;
  top: 100px;
}
.block12_6_2 {
  position: absolute;
  height: 114px;
  left: 15.9%;
  right: 66.8%;
  top: 100px;
}
.block12_6_3 {
  position: absolute;
  height: 24px;
  left: 17.49%;
  right: 17.49%;
  top: 90px;
}
.block12_6_4 {
  position: absolute;
  height: 70px;
  left: 0.05%;
  right: 0.05%;
  top: -0.31px;

  border-radius: 0px;
}
.text66 {
  position: absolute;
  height: 21px;
  left: 82.48%;
  right: 0.03%;
  top: 0.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.img26 {
  position: absolute;
  height: 24px;
  left: 0.03%;
  right: 84.98%;
  top: -0.31px;

  border-radius: 0px;
}
.img27 {
  position: absolute;
  height: 24px;
  left: 16.27%;
  right: 68.74%;
  top: -0.31px;
}
.img28 {
  position: absolute;
  height: 24px;
  left: 32.51%;
  right: 52.5%;
  top: -0.31px;
}
.img29 {
  position: absolute;
  height: 24px;
  left: 48.75%;
  right: 36.26%;
  top: -0.31px;

  border-radius: 0px;
}
.img30 {
  position: absolute;
  height: 24px;
  left: 64.99%;
  right: 20.02%;
  top: -0.31px;
}
.block12_6_5 {
  position: absolute;
  left: 28.39%;
  right: 0.24%;
  top: 19.42%;
  bottom: 0%;
}
.block12_6_6 {
  position: absolute;
  left: 3.81%;
  right: 87.02%;
  top: 33.26%;
  bottom: 17.17%;
}
.block12_6_7 {
  position: absolute;
  left: 15.92%;
  right: 75.47%;
  top: 11.4%;
  bottom: 2.26%;
}
.block12_6_8 {
  position: absolute;
  left: 0%;
  right: 75.52%;
  top: 0%;
  bottom: 2.26%;
}
.block12_6_9 {
  position: absolute;
  height: 70px;
  left: 0.07%;
  right: -0.27%;
  top: -0.31px;

  border-radius: 0px;
}
.svg2 {
  position: absolute;
  left: 0.13%;
  right: 75.2%;
  top: 0.51%;
  bottom: 24.62%;
}
.svg3 {
  position: absolute;
  left: 84.22%;
  right: 0.74%;
  top: 27.16%;
  bottom: 24.62%;
}
.svg4 {
  position: absolute;
  left: 79.23%;
  right: 17.28%;
  top: 3.26%;
  bottom: 26.09%;
}
.svg5 {
  position: absolute;
  left: 61.48%;
  right: 22.89%;
  top: 27.18%;
  bottom: 3.01%;
}
.svg6 {
  position: absolute;
  left: 43.84%;
  right: 39.8%;
  top: 27.18%;
  bottom: 24.61%;
}
.svg7 {
  position: absolute;
  left: 26.19%;
  right: 57.44%;
  top: 27.18%;
  bottom: 24.61%;
}
.block12_6_10 {
  position: absolute;
  height: 24px;
  left: 11.43%;
  right: 11.44%;
  top: 90px;
}
.img31 {
  position: absolute;
  height: 24px;
  left: 16.49%;
  right: 68.51%;
  top: -0.31px;

  border-radius: 0px;
}
.img32 {
  position: absolute;
  height: 24px;
  left: 48.98%;
  right: 36.03%;
  top: -0.31px;

  border-radius: 0px;
}
.img33 {
  position: absolute;
  height: 24px;
  left: 65.22%;
  right: 19.79%;
  top: -0.31px;

  border-radius: 0px;
}
.img34 {
  position: absolute;
  height: 24px;
  left: 32.73%;
  right: 52.27%;
  top: -0.31px;

  border-radius: 0px;
}
.img35 {
  position: absolute;
  height: 24px;
  left: 0.25%;
  right: 84.76%;
  top: -0.31px;
}
.text67 {
  position: absolute;
  height: 21px;
  left: 82.71%;
  right: -0.2%;
  top: 0.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.36px;

  color: #011f3a;
}
.block13 {
  position: absolute;
  height: 392px;
  left: 0%;
  right: 0%;
  top: 5990px;
}
.block13_0 {
  position: absolute;
  height: 392px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #eeeeee;
  border-radius: 0px;
}
.text68 {
  position: absolute;
  height: 36px;
  left: 43.61%;
  right: 43.54%;
  top: 120px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  text-align: center;

  color: #011f3a;
}
.block13_1 {
  position: absolute;
  height: 44px;
  left: 33.07%;
  right: 33.07%;
  top: 211.31px;
}
.block13_2 {
  position: absolute;
  height: 44px;
  left: 47.34%;
  right: 2.01%;
  top: -0.31px;
  border: 1px solid #ffffff;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  border-radius: 44px;
  cursor: pointer;
  color: #3d5675;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  font-weight: 700;
}
.block13_2:hover {
  background-color: #517096;
  color: #ffffff;
}
.block13_3 {
  position: absolute;
  height: 44px;
  left: -0.04%;
  right: 54.92%;
  top: -0.31px;
  border: 1px solid #3d5675;
  font-family: "Roboto", sans-serif;
  background: #3d5675;
  border-radius: 44px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.block13_3:hover {
  background-color: #ffffff;
  color: #3d5675;
  font-weight: 700;
}
.block13_4 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #ffffff;
  border-radius: 44px;
}
.text69 {
  position: absolute;
  height: 18px;
  left: 10.12%;
  right: 10.12%;
  top: 13px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 1.96px;
  text-transform: uppercase;

  color: #3d5675;
}

.block14 {
  position: absolute;
  height: 365px;
  left: 0%;
  right: 0%;
  top: 6382px;
}
.block14_0 {
  position: absolute;
  height: 365px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #f2f3f4;
  border-radius: 0px;
}
.block14_1 {
  position: absolute;
  height: 245px;
  left: 8.33%;
  right: 8.33%;
  top: 60.31px;
}
.img36 {
  position: absolute;
  height: 24px;
  left: 0%;
  right: 92.92%;
  top: -0.31px;

  border-radius: 0px;
}
.block14_2 {
  position: absolute;
  height: 245px;
  left: 36.04%;
  right: 52.79%;
  top: 0px;
}
.block14_3 {
  position: absolute;
  height: 245px;
  left: 14.73%;
  right: 71.6%;
  top: 0px;
}
.block14_4 {
  position: absolute;
  height: 245px;
  left: 76.67%;
  right: 0%;
  top: 0px;
}
.block14_5 {
  position: absolute;
  height: 245px;
  left: 54.85%;
  right: 30.98%;
  top: 0px;
}
.text71 {
  position: absolute;
  height: 18px;
  left: 0.37%;
  right: 54.85%;
  top: 69.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text72 {
  position: absolute;
  height: 18px;
  left: 0.37%;
  right: 77.99%;
  top: 139.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text73 {
  position: absolute;
  height: 18px;
  left: 0.37%;
  right: 51.87%;
  top: -0.31px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text74 {
  position: absolute;
  height: 18px;
  left: 0.37%;
  right: -0.37%;
  top: 174.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text75 {
  position: absolute;
  height: 18px;
  left: 0.37%;
  right: 40.67%;
  top: 104.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text76 {
  position: absolute;
  height: 18px;
  left: 0.37%;
  right: 75.75%;
  top: 34.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text77 {
  position: absolute;
  height: 18px;
  left: 0.15%;
  right: -0.15%;
  top: 174.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text78 {
  position: absolute;
  height: 18px;
  left: 0.15%;
  right: 48.63%;
  top: 34.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text79 {
  position: absolute;
  height: 18px;
  left: 0.15%;
  right: 41.92%;
  top: 104.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text80 {
  position: absolute;
  height: 18px;
  left: 0.15%;
  right: 32.16%;
  top: 209.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text81 {
  position: absolute;
  height: 18px;
  left: 0.15%;
  right: 26.07%;
  top: 139.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text82 {
  position: absolute;
  height: 18px;
  left: 0.15%;
  right: 54.12%;
  top: 69.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text83 {
  position: absolute;
  height: 18px;
  left: 0.15%;
  right: 35.21%;
  top: -0.31px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text84 {
  position: absolute;
  height: 18px;
  left: 0%;
  right: 27.5%;
  top: -0.31px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.block14_6 {
  position: absolute;
  height: 88px;
  left: 0%;
  right: 0%;
  top: 35px;
}
.block14_7 {
  position: absolute;
  height: 36px;
  left: 0%;
  right: 0%;
  top: -4.31px;

  background: #ffffff;
  border-radius: 34px;
}
input {
  border-radius: 15px;
  position: absolute;
  height: 36px;
  left: 7%;
  right: 0%;
  top: -0.7px;
  border: none;
  /* border-bottom: 1px solid black; */
  outline: none;
  /* background-color: #011f3a; */
}
.block14_8 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 33.21%;
  top: 43.69px;
  border: 1px solid #3d5675;
  font-family: "Roboto", sans-serif;
  background: #3d5675;
  border-radius: 44px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.96px;
  line-height: 21px;
  font-weight: 700;
}
.block14_8:hover {
  background-color: #ffffff;
  color: #3d5675;
  font-weight: 700;
}

.text85 {
  position: absolute;
  height: 21px;
  left: 10.71%;
  right: 46.07%;
  top: 54.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.text84 {
  position: absolute;
  height: 18px;
  left: 0%;
  right: 27.5%;
  top: -0.31px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
div.block14_7 ::placeholder {
  color: rgba(61, 86, 117, 0.4);
  font-family: "Roboto";
  font-style: italic;
  font-size: 15px;
}
.text87 {
  position: absolute;
  height: 18px;
  left: -0.15%;
  right: 51.32%;
  top: -0.31px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text88 {
  position: absolute;
  height: 18px;
  left: -0.15%;
  right: 40.74%;
  top: 69.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.text89 {
  position: absolute;
  height: 18px;
  left: -0.15%;
  right: 0.15%;
  top: 34.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #3d5675;
}
.block14_9 {
  position: absolute;
  height: 24px;
  left: 0%;
  right: 0%;
  top: 105px;
}
.img37 {
  position: absolute;
  height: 24px;
  left: 41.03%;
  right: 44.85%;
  top: -0.31px;
}
.img38 {
  position: absolute;
  height: 24px;
  left: -0.15%;
  right: 86.03%;
  top: -0.31px;
}
.img39 {
  position: absolute;
  height: 24px;
  left: 20.44%;
  right: 65.44%;
  top: -0.31px;
}
a{
 text-decoration: none;
}
a:visited:hover{
  color: #3700ff;
}